.purchase {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 13vh;
  font-family: 'Montserrat';
  background: #3b2a21;
  background: linear-gradient(to right, #211b19 , #4e3327);
}

.purchase-content {
  width: 60%;
  height: inherit;
  float: left;
  position: relative;
}

.purchase-text {
  width: 60%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.purchase-text h1,
.purchase-text p {
  margin: 0;
  padding: 0;

}

.purchase-text h1 {
  font-size: 20px;
  color: white;
}

.purchase-text h1 span {
  color: #ac9983;
}

.purchase-text p {
  color: #514844;
}

.purchase-button {
  width: 40%;
  height: inherit;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purchase-button button {
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #998675;
  color: white;
  border: none;
  border-radius: 3px;
  transition: all .5s;
}

.purchase-button button:hover {
  background-color: #ac9983;
}
